:root {
  --main-color :#4640DE  ;
  --second-color :#42AFFF;
  --third-color :#C9CBD5;
  --fourth-color :#f8f8f2;
}

* {
  margin: 0;
  padding: 0;
}

/*  Start Home */
/*  End Home */

/*  Start FindJob */
/*  End FindJob */

/*  Start Browse */
/*  End Browse */
