@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --main-color :#4640DE  ;
  --second-color :#42AFFF;
  --third-color :#C9CBD5;
  --fourth-color :#f8f8f2;
  --fifth-color :#f8f8fd;
}

* {
  margin: 0;
  padding: 0;
}

ul , li {
  list-style: none !important;
}

/*  Start Home */
#background{
  width: 100%;
  height: 95vh;
}

/*  End Home */

/*  Start FindJob */
/*  End FindJob */

/*  Start Browse */
/*  End Browse */

/* start Dashboard  */
.dash-board {
  width: 100%;
  display: flex;
}
.dash-board .side-nav {
  background-color: var(--fifth-color);
  width: 20%;
  height: 100vh;
  padding: 0px 10px;
  position: relative;
}
.dash-board .side-nav ul {
  list-style: none;
  margin-top: 5px;
  padding: 0px 10px;
}
.dash-board .side-nav ul li{
  color: black;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 8px;
}
.dash-board .side-nav ul li.active{
  color: var(--main-color);
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
}
.dash-board .side-nav .logo {
  color: var(--main-color);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}
.dash-board .side-nav .sign-out {
  position: absolute;
  bottom: 20px;
  left: 30px;
  background-color: var(--main-color);
  border: none;
  padding: 5px;
  border-radius: 8px;
  color: white;

}
.dash-board-body {
  width: 100%;
}
.dashboard-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid rgba(179, 179, 179, 0.689);
}
.dashboard-header .btn-postjob a{
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 8px;
}

/* end Dashboard  */