@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
:root {
  --main-color :#0D1A2D;
  --second-color :#7997A2;
  --third-color :#93B1B9;
  --fourth-color :#93B1B9;
  --fifth-color :#C3C7C6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul , li {
  list-style: none !important;
}
/* start NavBar*/
#navbar{
background-color:var(--main-color) ;
padding: .5rem 0 .5rem 5rem;
}
.listnav{
margin-left: 6rem;
}
.listnav a{
color: #fff;
font-weight: 600;
font-size: 1.1rem;
margin-left: 2rem;
}
#navbar .dropdown-menu{
  background-color: var(--main-color);
}
#logo{
font-family: 'Roboto Slab', serif;
color: var(--fifth-color);
font-weight: 600;
font-size: 2rem;
}
#listItem a{
color: #ffffff;
font-weight: 600;
font-size: 1.1rem;
margin-left: 2rem;
}
#nav-container{
gap: 4rem;
}
/* end NavBar*/
/*Footer start*/
#footer{
background-color:var(--main-color);
display: flex;
align-items: center;
justify-content: space-between;
gap: 6rem;
padding: 1rem 4rem;
}
.logo{
  font-family: 'Roboto Slab', serif;
  color: var(--fifth-color);
  font-weight: 600;
  font-size: 2rem;
}
.socialMedia{
display: flex;
gap: 1rem;
}
.items-footer{
font-size: 1.1rem;
font-weight: 600;
}
.items-footer{
color: #fff;
}
#list-footer{
display: flex;
align-items: end;
gap: 2rem;
}
.CopyRight{
color: #fff;
}
/*Footer End*/
/*  Start Home */
#background{
  width: 100%;
  height: 95vh;
}

/*  End Home */
/*Details Page start*/
#details-body{
height: 80.5vh;
}
/*Details Page end*/
/*  Start FindJob */
.content{
background-color: var(--main-color);
/* margin-bottom:4rem ; */
}
#more{ background-color: var(--main-color); color: #fff; border: none; font-weight: 600; text-decoration: none; padding: .5rem; border-radius:10px ; -webkit-border-radius:10px ; -moz-border-radius:10px ; -ms-border-radius:10px ; -o-border-radius:10px ;
}
.Jobs-body{
padding: 2rem;
}
#card{
height: 170px;
}
.content{
padding: 1rem 5rem;
}
.AllJob{
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem 5rem;
}
#inputField{
width: 25rem;
padding: .5rem;
color: var(--main-color);
font-weight: 600;
border: none;
border-radius:15px;
}
#inputField:focus{
outline: 2px solid var(--fifth-color);
}
::placeholder{
color: #4B7079;
}
#findJobJumbotron{
display: flex;
align-items: center;
justify-content: center;
padding: 1rem 6rem;
background-color: #ffffff;
height: 500px;
}
#jobSeeker{
height: 400px;
}
#p{
font-size: 1.5rem;
width: 60%;
font-weight: 600;
}
#h1{
color: var(--main-color);
font-family: 'Roboto Slab', serif;
font-weight: 600;
}
#title-of-card{
color: #fff;
font-family: 'Roboto Slab', serif;
}
#lets-start{ padding: .5rem; background-color: var(--main-color); border: none; color: #fff; font-size: 1.1rem; border-radius:10px ; -webkit-border-radius:10px ; -moz-border-radius:10px ; -ms-border-radius:10px ; -o-border-radius:10px ;
}
#title-job{
font-family: 'Roboto Slab', serif;
}
/*  End FindJob */

/*  Start Browse */
/*  End Browse */

/* start Dashboard  */
.dash-board {
  width: 100%;
  display: flex;
}
.dash-board .side-nav {
  background-color: var(--fifth-color);
  width: 260px;
  height: 100vh;
  padding: 0px 10px;
}
.dash-board .side-nav ul {
  list-style: none;
  margin-top: 5px;
  padding: 0px 10px;
}
.dash-board .side-nav ul li{
  color: black;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 8px;
}
.dash-board .side-nav ul li.active{
  color: var(--main-color);
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
}
.dash-board .side-nav .logo {
  color: var(--main-color);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}
.dash-board .side-nav .sign-out {
  position: absolute;
  bottom: 20px;
  left: 30px;
  background-color: var(--main-color);
  border: none;
  padding: 5px;
  border-radius: 8px;
  color: white;

}
.dash-board-body {
  width: 100%;
}
.dashboard-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid rgba(179, 179, 179, 0.689);
}
.dashboard-header .btn-postjob a{
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 8px;
}

.img-logo-company{
  border-radius: 50%;
  width: 5%;
}

.col-logo-name{
  display: flex;

}
.name-company{
  padding: 7px;
}
.col-box{
  margin-top: 2rem;
}
.curical-icon{
margin-right: 5px;
border-radius: 50%;
color: #42AFFF;
font-size: 1.5rem;
width: 13%;
height: 40%;
border: 1px solid rgba(128, 128, 128, 0.562);
}
.img-tech-stack
{
  width: 80%;
  margin-bottom: 1rem;
}
.btn-Contact{
  width: 30vh;
    border: 1px solid var(--second-color);
  color: var(--second-color);
  background-color: #f8f8fd;
}
.col-Contact{
padding: 1.5rem;
}
.img-col-1{
  width: 100%;
  height: 50vh;
}
.img-col-2{
  padding: 1rem;
  width: 100%;
  height: 25vh;
}
.img-avatar{
  border-radius: 50%;
  padding: 1rem;
  width: 10%;
}
.team-card{

  width: 13rem;
}
.card-name{
  text-align: center;

}
.card-jobtitle
{
  text-align: center;
  color: #b0b1b9;
}
.icon-card{
  display: flex;
margin: auto; 
padding: 0.5rem ;
}
.icon-card-color{
  color: #dcdde0;
  padding: 0.5rem;
}
.img-user-table{
  width: 45px;
   height: 45px;
}
.input-group-table{
  width: 100%;
  padding: 1rem;
}
.nn{
  display: flex;
}
.color-status-approved{
  background-color: rgb(125, 211, 181)  ;
}
.color-status-reject{
  background-color: rgb(211, 122, 122)  ;
}

.content-dash-bord{
  background-color: #eee;
}
.chart-B{
  margin-right: 1rem;
}
/* end Dashboard  */
/* end Dashboard  */
#home-content{
height: 80vh;
}
#jobSearch{
color:#fff
}
#filtersDiv{
background-color: #fff;
}

/* start login */
.login-btn {
  padding-left: 2.5rem; 
  padding-right: 2.5rem;
  background-color: var(--main-color) !important;
  color: white !important;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
/* end login */
/* start post job */
.post-job-form {
  width: 98% ;
  padding: 20px;
}
.post-job-form .input-box{
  margin: 5px 0;
} 
.post-job-form .input-box p {
  margin: 5px 0px;
  color: var(--main-color);
  font-weight: bold;
  text-transform: capitalize;
}
.post-job-form .input-box input,
.post-job-form .input-box select,
.post-job-form .input-box textarea
{
  width: 100%;
  padding: 5px;
  outline: none;
} 
.btn-post {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
  border-color: transparent;
}
.btn-post:hover {
  background-color: white;
  color: var(--main-color);
  border-color:var(--main-color);
}
/* end post job */